.tamanho-dropdown {
    width: 20px;
}

.my-navbar {
    color: #fff;
    padding: 1rem 0;
}

.my-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.my-navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding-left: 10rem;
}

.my-navbar-nav {
    padding-top: 12px;
    font-size: 1.3rem;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    margin-left: 10rem;
}

.nav-item {
    margin-right: 3rem;
}

/* Adiciona espaçamento entre a logo e o primeiro item do menu */
.my-navbar-nav .nav-item:first-child {
    margin-left: 2rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #0070f3; /* Muda a cor ao passar o mouse */
    text-decoration: underline; /* Adiciona um sublinhado no hover */
}

.my-navbar-right {
    padding-top: 12px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 7rem;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-name {
    color: #fff;
    margin-right: 0.5rem;
}

.dropdown-icon {
    color: #fff;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.user-info:hover .dropdown-icon {
    transform: rotate(180deg); /* Gira o ícone ao passar o mouse */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .my-navbar-brand {
        padding-left: 1rem;
    }

    .my-navbar-nav {
        margin-left: 1rem;
    }

    .my-navbar-right {
        margin-right: 1rem;
    }
}

@media (max-width: 1400px) {
    .my-navbar-nav {
        font-size: 1rem;
    }
    .my-navbar-brand {
        padding-left: 3rem;
    }
    .my-navbar-nav {
        margin-left: 4rem;
        padding-top: 5px;
        display: flex;
        list-style: none;
        justify-content: flex-start;
    }
    .my-navbar-right {
        margin-right: 2rem;
    }
}
